body {
    width: 50%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
.navigation {
    float: left;
    width: 30%;
}
.content {
    float: left;
    width: 70%;
    border-left: 2px solid black;
    box-sizing: border-box;
    padding: 50px;
    text-align: justify;
}
.footer {
    clear: both;
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}
