.square {
    width : 200px;
    height: 200px;
    background: red;
    margin: 0 auto;
}
#click {
    display: none;
}

#click:checked + label > div.square {
    border-radius: 50%;
    background: green;
    margin: 0 auto;
}