body, html {
    height: 100%;
    margin: 0;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
}
li a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}
li a:hover {
    background-color: black;
}

.big-container {
    min-height: 100%;
    position: relative;
}
.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.text-white {
    color: white;
}
.center {
    text-align: center;
}
.backimg {
    background-image: url("https://www.w3schools.com/w3images/wedding_couple.jpg");
    background-size: cover;
    background-position: center;
}
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.45);
}
