.cell-white {
    background: #fff;
    width: 80px;
    height: 80px;
}
.cell-black {
    background: grey;
    width: 80px;
    height: 80px;
}
.table {
    width: auto;
    margin: 0 auto;
}

td img {
    width: 100%;
}
td i {
    width: 100%;
    font-size: 50px;
}