.bg-black {
    background: black;
}
.w-20 {
    width: 20%
}
.container {
    max-width: 980px;
}

a {
    color: #ff9900;
}
ul {
    padding: 0;
}
.categories li a {
    color: grey;
}
.categories li {
    border-bottom: 1px grey dotted;
}
.img-thumbnail {
    border-radius: 0;
}